.contact-left h6 {
  background: linear-gradient(270deg, #df8909 80%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact-form input,
.contact-form textarea {
  /* padding: 15px 0 15px 12px; */
  background-color: #32323c;
  border-radius: 4px;
  font-family: outfit;
}
.contact-form label {
  padding: 10px 0;
  color: #d8d8d8;
  font-size: 16px;
}
.contact-form button {
  background: linear-gradient(264deg, #df8909 -5.09%, #b415ff 106.2%);
}
